{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Favicons -->
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>ACADAMICFOLIO</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<!--



https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
            
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
       
    
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          ACADAMICFOLIO
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li ><a href="home">Blogs</a></li>
                          <li class="scroll-to-section"><a href="#apply">About</a></li> 
                          <li class="scroll-to-section"><a href="#c">Contact Us</a></li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
              <h6>Hello Everyone</h6>
              <h2>Welcome to ACADAMICFOLIO</h2>
              <p>Welcome to ACADAMICFOLIO showcase! I'm a skilled website builder dedicated to crafting stunning online experiences. Explore my work to see how I transform ideas into beautifully functional websites that leave a lasting impression.</p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Portfolio</h4>
                <p>Elevate Your Career with our Dynamic Portfolio Builder & Backend Development Services</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Email Notification</h4>
                <p>Get a email as a notification Whenever someone someone contacts you through the prtfolio</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Tailored to Impress</h4>
                <p> Every portfolio I create is tailor-made to reflect your unique personality, brand, or business identity.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>User-Centric Focus</h4>
                <p>My designs prioritize ease of navigation and engagement, ensuring that visitors are drawn into your story and stay engaged.</p>
              </div>
            </div>
            
            <div class="item">
              <div class="icon">
                <img src="{% static 'assets/images/service-icon-03.png' %}" alt="">
              </div>
              <div class="down-content">
                <h4>Impress the recruiters</h4>
                <p>Students and job seekers, let your portfolio make the first impression.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Advantages of establishing a personal portfolio website</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Portfolio Catgories</h4>
            <ul>
              <li><a href="https://en.wikipedia.org/wiki/The_Portfolio">Personal Portfolio Website</a></li>
              <li><a href="https://en.wikipedia.org/wiki/The_Portfolio">Business Website</a></li>
              <li><a href="https://en.wikipedia.org/wiki/The_Portfolio">Blog or Content Website</a></li>
              <li><a href="https://en.wikipedia.org/wiki/The_Portfolio">Portfolio for Creative Professionals</a></li>
              <li><a href="https://en.wikipedia.org/wiki/The_Portfolio">Portfolio for Job Seekers</a></li>
            </ul>
            <div class="main-button-red">
              <a href="/#contact">Contact Me</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-01.jpg' %}" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <h4>1. Showcase Your Work</h4>       
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-02.jpg' %}" alt="Online Teaching"></a>
                </div>
                <div class="down-content">      
                  <h4>2. Professionalism</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">                 
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-03.jpg' %}" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <h4>3. Credibility</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <a href="meeting-details.html"><img src="{% static 'assets/images/meeting-04.jpg' %}" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <h4>4. Control and Customization</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <div class="item">
                <h3>CONTACT ME FOR A PORFOLIO</h3>
                <p>Unlock endless opportunities with our expertly designed portfolios.Ready to take the next step in your career? Contact us for a professional portfolio website.</p>
                <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="item">
                <h3>CONTACT ME FOR BUSSINESS WEBSITE</h3>
                <p>Elevate your business with a custom-designed website. Get in touch with us to begin the journey toward online success.</p>
                <div class="main-button-yellow">
                  <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
                <div class="accordion-head">
                    <span>About ACADAMICFOLIO</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Discover a world of visual harmony and compelling narratives through my design and writing portfolio. Each project is a testament to my passion for creating captivating experiences., you may visit <a rel="nofollow" href="https://sathyaportfolio1.onrender.com/" target="_blank">Visit this link </a>for demo.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>HTML CSS Bootstrap Layout</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Our templates are a gateway to stunning online experiences, offering a seamless balance between visual appeal and user-friendly navigation. <br><br>
                          Whether you're a creative professional looking to showcase your work or a business aiming to make a lasting digital impression, our templates provide the ideal foundation for your online presence.</p>
                    </div>
                </div>
            </article>
            <article class="accordion">
                <div class="accordion-head">
                    <span>Please tell your friends</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>Love what you see here? Spread the inspiration! Share our website with your friends and let them in on the creativity, knowledge, and beauty we have to offer.<br><br>
                        </p>
                    </div>
                </div>
            </article>
            <article class="accordion last-accordion">
                <div class="accordion-head">
                    <span>Share this to your Job seekers</span>
                    <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                </div>
                <div class="accordion-body">
                    <div class="content">
                        <p>From captivating design projects to engaging written pieces, my portfolio is a testament to the power of storytelling and visual aesthetics. Dive in, get inspired, and let's embark on a journey of creativity together.<br><br>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Choose the Template you like</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="{% static 'assets/images/Template-1.png' %}" alt="Course One">
              
              <div class="down-content">
                <h4>1.Minimal Portfolio</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://rafiaein.github.io/minimal/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-2.png' %}" alt="Course Two">
              <div class="down-content">
                <h4>2.Meyawo</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/meyawo/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-3.png' %}" alt="">
              <div class="down-content">
                <h4>3.Proman</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/proman/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-4.png' %}" alt="">
              <div class="down-content">
                <h4>4.Patrix</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/patrix/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-5.png' %}" alt="">
              <div class="down-content">
                <h4>5.Ace</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/ace/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-6.png' %}" alt="">
              <div class="down-content">
                <h4>6.Mark</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/mark/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-7.jpg' %}" alt="">
              <div class="down-content">
                <h4>7.Elen</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/elen/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-8.jpg' %}" alt="">
              <div class="down-content">
                <h4>8.Santer</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/satner/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-9.png' %}" alt="">
              <div class="down-content">
                <h4>9.Jonson</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/jonson/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-10.png' %}" alt="">
              <div class="down-content">
                <h4>10.Rezume</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/rezume/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-11.png' %}" alt="">
              <div class="down-content">
                <h4>11.Clyde</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/clyde/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{% static 'assets/images/Template-12.jpg' %}" alt="">
              <div class="down-content">
                <h4>12.Unfold</h4>
                <div class="info">
                  <div class="row">
                    <div class="main-button-red">
                      <div><a href="https://themewagon.github.io/unfold/" target="_blank">Preview</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our Website</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">1</div>
                    <div class="count-title">Succesfully Deployed</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">0</div>
                    <div class="count-title">Current Projects</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">0</div>
                    <div class="count-title">New Projects</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">0</div>
                    <div class="count-title">Reviews</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="https://www.youtube.com/watch?v=I10NbeXguWg" target="_blank"><img src="{% static 'assets/images/play-icon.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="c">
    <div class="container">
        {% for message in messages %}
        <div
          class="alert alert-{{message.tags}} alert-dismissible fade show"
          role="alert"
        >
          <strong>{{message}} </strong>
          
        </div>
        {% endfor %}
      <div class="row">
        <div class="col-lg-8 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="/" method="post">{% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="username" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message1" type="text" class="form-control" id="message" placeholder="YOUR ENTER YOUR MESSAGE AND KINDLY PROVIDE MOBILE NUMBER..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>+91-7032488372</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>acadamicfolio@gmail.com</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>HYDERABAD, TELANGANA</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.acadamicfolio.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 ACADAMICFOLIO All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">Sathyanarayana</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">Satyanarayana</a>
        </p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>